<div class="google-visualisation-content">
  <div class="google-visualisation">
    <span class="picto google-logo"></span>
    <div class="contenu">
      <div class="url">
        <span class="beforeValue">https://{{ form.view.vars.value.domain.domain }}{{ form.view.vars.value.getBasePath()|first != "/" ? "/" : "" }}{{ form.view.vars.value.getPath() ? form.view.vars.value.getBasePath() : "" }}</span>
        <span class="value" data-refresh-value-by="#{{ form.view["pathLast"].vars.id|default(null) }}">{{ form.view.vars.value.pathLast ?? "" }}</span>
      </div>
      <div class="title">
        <span class="value" data-refresh-value-by="#{{ form.view["seoTitle"].vars.id }}" data-default-value="{{ "fields.seoTitle.entitled"|trans({}, form.mapper.translateDomain) }}">
          {{ form.view.vars.value.seoTitle ?? "fields.seoTitle.entitled"|trans({}, form.mapper.translateDomain) }}
        </span>
      </div>
      <div class="description" data-default-value="">
        <span class="value" data-refresh-value-by="#{{ form.view["seoDescription"].vars.id }}">{{ form.view.vars.value.seoDescription ?? "" }}</span>
      </div>
    </div>
  </div>
</div>